{% extends 'base.html.twig' %}

{% set title %}
    {% trans %}Dances{% endtrans %} {{ dance.name }} {{ type.namePlural }}
{% endset %}

{% block title %}{{ title }}{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('types') }}">{% trans %}Types{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('type', {'slug': type.slug}) }}">{{ type.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ dance.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-header">{% trans %}Versions{% endtrans %}</div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for version in versions %}
                            <a href="{{ url('version', {'slugDance': dance.slug, 'idVersion': version.id}) }}" class="list-group-item list-group-item-action">
                                <b>{% if version.name is same as('') %}
                                        {{ dance.name }}
                                    {% else %}
                                        {{ version.name }}
                                    {% endif %}
                                </b> {{ version.address(app.request.locale) }} ({{ version.videos|length }} {% trans %}videos{% endtrans %})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if map_json %}
            <div class="col mb-3 my-col">
                <div class="card">
                    <div class="card-header">{% trans %}Map{% endtrans %}</div>
                    <div id="map"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}