{% extends 'base.html.twig' %}

{% block title %}{{ type.name }}{% endblock %}

{% block header %}{{ type.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('types') }}">{% trans %}Types{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ type.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3">
            {% for dance in type.dancesFromDb %}
                <a href="{{ url('dance', {'slug': dance.slug})}}" class="list-group-item list-group-item-action">
                    {{ dance.name }} ({{ dance.versions|length }} {% trans %}ver.{% endtrans %})
                </a>
            {% endfor %}
        </div>
        {% if map_json %}
            <div id="map_parent" class="col mb-3">
                <div id="map"></div>
            </div>
        {% endif %}
    </div>
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}