{% extends 'base.html.twig' %}

{% set title %}
    {% trans %}Dances{% endtrans %} {{ region.name }} {% trans %}reg.{% endtrans %}
    {% if department %}
        , {{ department.name }} {% trans %}dep.{% endtrans %}
    {% endif %}
{% endset %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }} {% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('department', {'slug': region.getDepartment().slug}) }}">{{ region.getDepartment().name }} {% trans %}dep.{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ region.name }} {% trans %}reg.{% endtrans %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3 my-col">
            <div class="card">
                <div class="card-header">{% trans %}Dances{% endtrans %}</div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for dance in region.dancesFromDb %}
                            <a href="{{ url('versions_by_district_dance', {'slugDance': dance.slug, 'slugDistrict': region.slug}) }}" class="list-group-item list-group-item-action">
                                {{ dance.name }} ({{ dance.getVersionAmounts() }} {% trans %}ver.{% endtrans %})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col mb-3 my-col">
            <div class="card">
                <div class="card-header">{% trans %}Places{% endtrans %}</div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for place in places %}
                            <a href="{{ url('place', {'slug': place.slug}) }}" class="list-group-item list-group-item-action">
                                {{ place.name }} ({{ place.dancesCount }} {% trans %}dan.{% endtrans %})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if map_json %}
            <div class="col mb-3 my-col">
                <div class="card">
                    <div class="card-header">{% trans %}Map{% endtrans %}</div>
                    <div id="map"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}
