{% extends 'base.html.twig' %}

{% if version.name is same as('') %}
    {% set title = dance.name %}
{% else %}
    {% set title = version.name %}
{% endif %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ title }}, {{ version.address(app.request.locale) }} {% endblock%}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('dances') }}">{% trans %}Dances{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('dance', {'slug': dance.slug}) }}">{{ dance.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ version.name }}</li>
{% endblock %}

{% block rightOfBreadcrumb %}
    <small class="bg-secondary text-white rounded-pill px-2 h-50">{% trans %}Views{% endtrans %}: {{ version.views }}</small>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3 my-col">
            <div class="card">
                <div class="card-header">{% trans %}Description{% endtrans %}</div>
                <div class="card-body">
                    {% if version.place %}
                        {% trans %}Village{% endtrans %} <a href="{{ url('place', {'slug': version.place.slug}) }}">{{ version.place.name }}</a>
                        <br>
                    {% endif %}
                    {% if version.source %}
                        {% trans %}Source{% endtrans %} <a href="{{ url('source', {'slug': version.source.slug}) }}">{{ version.source.name }}</a>
                        <br>
                    {% endif %}
                    {% if version.source2 %}
                        {% trans %}Second source{% endtrans %} <a href="{{ url('source', {'slug': version.source.slug}) }}">{{ version.source2.name }}</a>
                        <br>
                    {% endif %}
                    {% trans %}Type{% endtrans %}
                        {% if version.type %}
                            <a href="{{ url('type', {'slug': version.type.slug}) }}">{{ version.type.name }}</a>
                        {% else %}
                            <a href="#">{% trans %}Improvisation{% endtrans %}</a>
                        {% endif %}
                </div>
            </div>
            {% for video in videos %}
                {% if video.link %}
                    {% if video.type is same as(1) %}
                        <div class="row mt-3">
                            <div class="col">
                                <iframe width="100%" height="600" src="{{ video.link }}" title="{{ title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                    {% if video.type is same as(2) %}
                        <div class="row mt-3">
                            <div class="col">
                                <iframe width="100%" height="600" src="{{ video.link }}" title="{{ title }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
        {% if map_json %}
            <div class="col mb-3 my-col">
                <div class="card">
                    <div class="card-header">{% trans %}Map{% endtrans %}</div>
                    <div id="map"></div>
                </div>
            </div>
        {% endif %}
    </div>

    {#
    {% if version.youtube %}

    {% endif %}#}
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}