{% extends 'base.html.twig' %}

{% block title %}{% trans %}Dances of Belarus{{{% endtrans %}{% endblock %}

{% block header %}{% trans %}Dances of Belarus{{{% endtrans %}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans %}Departments{{{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for department in entity_collection.departments %}
                            <a href="{{ url('department', {'slug': department.slug}) }}" class="list-group-item list-group-item-action">
                                {{ department.name }} ({{ department.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans %}Regions{{{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for region in top_ten_regions %}
                            <a href="{{ url('region', {'slug': region.slug}) }}" class="list-group-item list-group-item-action">
                                {{ region.name }} ({{ region.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-sm-3 mt-md-0">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans %}Types{{{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for type in entity_collection.types %}
                            <a href ="{{ url('type', {'slug': type.slug})}}" class="list-group-item list-group-item-action">
                                {{ type.name }} ({{ type.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-sm-3 mt-md-3 mt-lg-0">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans %}Sources{{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for source in entity_collection.sources %}
                            <a href="{{ url('source', {'slug': source.slug})}}" class="list-group-item list-group-item-action">
                                {{ source.name }} ({{ source.dances|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col mt-sm-3 mt-md-3 mt-lg-0">
            <div class="card">
                <div class="card-header">
                    <h5>{% trans %}Top 10 dances{{{% endtrans %}</h5>
                </div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for dance in top_ten_dances %}
                            <a href="{{ url('dance', {'slug': dance.slug})}}" class="list-group-item list-group-item-action">
                                {{ dance.name }} ({{ dance.versions|length }})
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
