{% extends 'base.html.twig' %}

{% block title %}{% trans %}Song collection{% endtrans %}{% endblock %}

{% block header %}{% trans %}Song collection{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans %}Songs{% endtrans %}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="accordion mb-3" id="accordion">
            {% for song in songs %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ song.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ song.id }}" aria-expanded="true" aria-controls="collapse{{ song.id }}">
                            {{ song.name }}
                            {% if song.genre %}&nbsp;<small class="hidden-xs">({{ song.genre }})</small>{% endif %}
                        </button>
                    </h2>

                    <div id="collapse{{ song.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ song.id }}" data-bs-parent="#accordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">{{ song.text|raw }}</div>
                                <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs">
                                    {% if song.genre %} {% trans %}Genre{% endtrans %}: <strong>{{ song.genre }}</strong><br/>{% endif %}
                                    {% if song.artist %} {% trans %}Artist{% endtrans %}: <strong>{{ song.artist }}</strong><br/>{% endif %}
                                    {% if song.area %} {% trans %}Area{% endtrans %}: <strong>{{ song.area }}</strong><br/>{% endif %}
                                    {% if song.region %} {% trans %}Region{% endtrans %}: <strong>{{ song.region }}</strong><br/>{% endif %}
                                    {% if song.place %} {% trans %}Place{% endtrans %}: <strong>{{ song.place }}</strong><br/>{% endif %}
                                    {% if song.year %} {% trans %}Year{% endtrans %}: <strong>{{ song.year }}</strong><br/>{% endif %}
                                    {% if song.record %} {% trans %}Record{% endtrans %}: <strong>{{ song.record }}</strong><br/>{% endif %}
                                    {% if song.comments %} {{ song.comments }}<br/>{% endif %}

                                {#    <?  $files = array();
                                        if ($song->audio_origin && file_exists($_SERVER["DOCUMENT_ROOT"].'/audio/origin/'.$song->audio_origin))
                                            $files[] = array('file' => '/audio/origin/'.$song->audio_origin, 'mime' => mime_content_type($_SERVER["DOCUMENT_ROOT"].'/audio/origin/'.$song->audio_origin), 'type' => 'origin');
                                        if ($song->audio_artist && file_exists($_SERVER["DOCUMENT_ROOT"].'/audio/artist/'.$song->audio_artist))
                                            $files[] = array('file' => '/audio/artist/'.$song->audio_artist, 'mime' => mime_content_type($_SERVER["DOCUMENT_ROOT"].'/audio/artist/'.$song->audio_artist), 'type' => 'artist');
                                        if ($song->audio_rep && file_exists($_SERVER["DOCUMENT_ROOT"].'/audio/rep/'.$song->audio_rep))
                                            $files[] = array('file' => '/audio/rep/'.$song->audio_rep, 'mime' => mime_content_type($_SERVER["DOCUMENT_ROOT"].'/audio/rep/'.$song->audio_rep), 'type' => 'origin');
                                    ?>
                                    <? if (!empty($files)) { ?>
                                        <? foreach ($files as $item) { ?>
                                            <? if ($item['type'] == 'origin') { ?><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Першакрыніца<? } ?>
                                            <? if ($item['type'] == 'artist') { ?><span class="glyphicon glyphicon-cd" aria-hidden="true"></span> Выкананьне<? } ?>
                                            <? if ($item['type'] == 'rep') { ?><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Рэпетыцыя<? } ?>
                                            <!--audio controls>
                                                <source src="<?=$item['file'] ?>" type="<?=$item['mime'] ?>">
                                                Ваш браўзер не падтрымлівае аўдыя фармат
                                            </audio-->
                                        <? } ?>
                                    <? } ?>
                                #}
                                </div>
                                <div class="visible-xs invisible">
                                    <em>
                                        {% if song.genre %} {{ song.genre }},{% endif %}
                                        {% if song.artist %} {{ song.artist }},{% endif %}
                                        {% if song.area %} {{ song.area }},{% endif %}
                                        {% if song.region %} {{ song.region }},{% endif %}
                                        {% if song.place %} {{ song.place }},{% endif %}
                                        {% if song.year %} {{ song.year }},{% endif %}
                                        {% if song.record %} {{ song.record }},{% endif %}
                                    </em>
                                </div>
                                {#
                    <a href="{{ path('review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('review_edit', {'id': review.id}) }}">edit</a>
                                #}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {#
<a href="{{ path('review_new') }}">Create new</a>
            #}
        </div>
    </div>

{% endblock %}
