{% extends 'base.html.twig' %}

{% block title %}{{ department.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1 class="text-center my-5">{{ department.name }}</h1>
        </div>
        <div class="row">
            <div class="col mb-3">
                <div class="list-group list-group-flush">
                    {% for region in department.regions %}
                        <a href="{{ url('region', {'slug': region.slug})}}" class="list-group-item list-group-item-action">
                            {{ region.name }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            {% if map_json %}
                <div id="map_parent" class="col mb-3">
                    <div id="map"></div>
                </div>
            {% endif %}
        </div>
    </div>
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}