{% extends 'base.html.twig' %}

{% block title %}{{ place.name }} {% trans %}village{% endtrans %}{% endblock %}

{% block header %}
    {% trans %}vil.{% endtrans %} {{ place.name }},
    {{ region.name }} {% trans %}reg.{% endtrans %},
    {{ department.name }} {% trans %}dep.{% endtrans %}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('department', {'slug': department.slug}) }}">{{ department.name }} {% trans %}dep.{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('region', {'slug': region.slug}) }}">{{ region.name }} {% trans %}reg.{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{% trans %}village{% endtrans %} {{ place.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col mb-3">
            <div class="card">
                <div class="card-header">{% trans %}Versions{% endtrans %}</div>
                <div class="card-body">
                    <div class="list-group list-group-flush">
                        {% for version in versions %}
                            <a href="{{ url('version', {'slugVersion': version.slug, 'slugDance': version.dance})}}" class="list-group-item list-group-item-action">
                                {% if not version.name is same as('') %}
                                        {{ version.name }}
                                {% elseif not version.dance.name is same as('') %}
                                        {{ version.dance.name }}
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if map_json %}
            <div class="col mb-3 my-col">
                <div class="card">
                    <div class="card-header">{% trans %}Map{% endtrans %}</div>
                    <div id="map"></div>
                </div>
            </div>
        {% endif %}
    </div>
    <div hidden id="map_json">{{ map_json|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('map') }}
{% endblock %}