<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('flash_messages') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <div class="container">
                <div class="row">
                    <h1 class="text-center my-5">{% block header %}{% endblock %}</h1>
                </div>
                {% block flash_message %}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} justify-content-between d-flex">
                                {{ message }}
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}
                <div class="row">
                    <div class="col">
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mb-2 align-middle d-flex justify-content-between">
                            <ol class="breadcrumb px-2">
                                {% block breadcrumb %}{% endblock%}
                            </ol>
                            {% block rightOfBreadcrumb %}{% endblock%}
                        </nav>
                    </div>
                </div>
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </body>
</html>
