{% extends 'base.html.twig' %}

{% block title %}{{ region.name }}{% endblock %}

{% block header %}{{ region.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{{ url('homepage') }}">{% trans %}Homepage{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url('regions') }}">{% trans %}Regions{% endtrans %}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ region.name }}</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div id="map"></div>
        </div>
        <div class="col">
            <div class="list-group list-group-flush">
                {% for dance in region.dancesFromDb %}
                    <a href="{{ url('dance', {'slug': dance.slug})}}" class="list-group-item list-group-item-action">
                        {{ dance.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
    <div hidden id="region_obj">{{ region_json|raw }}</div>
    <div hidden id="polygon">{{ polygon|raw }}</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('regions') }}
{% endblock %}